<!DOCTYPE html>

<html>
<head>
    <title>Курс битка</title>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="_framework/blazor.server.js"></script>
</head>
<body>
    <div class="mt-5">
        @RenderBody()
    </div>
</body>
</html>
