<div class="text-center">
    <h1>@Model.Current.ToString("C", CultureInfo.GetCultureInfo("us-US"))/BTC</h1>
    <form>
        <button class="btn btn-outline-info"  asp-action="Update">Узнать курс</button>
    </form>
</div>